## MacOS
.DS_Store

## Core LaTeX auxiliary files
*.aux
*.log
*.out

## Intermediate documents
*.dvi
*.xdv
*.pdf

## Include the PDFs directory
!pdfs/

## Build tool auxiliary files
*.synctex.*
*.fls
*.fdb_latexmk
